.wrapper {
    display: grid;
    grid-template-columns: 330px 440px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px 110px; /*440px;*/ 
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

.wrapper div {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.page-header img {
    float: left;
    width: 50px;
    height: 50px;
    background: #555;
  }
  
 .page-header h1 {
    position: relative;
    top: 10px;
    left: 10px; 
  }

#label-storyworld-name {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#list-commands-area {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#list-area {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#list-of-storylets {
    width: 290px;
}

#edit-field-area {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#variable-commands-area {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#edit-variable-area {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#actor-branching-commands-area {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
}

#actor-branching-area {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
}

#branching-title {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    padding: 20;
}

#list-of-branches {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    width: 180px;
}

#branching-calculations-title {
    grid-column: 6 / span 6;
    grid-row: 2;
    padding: 20;
}
/*
#calculation-instructions {
    grid-column: 6 / span 4;
    grid-row: 2;
}

#branching-calculations-controls {
    grid-column: 6 / span 6;
    grid-row: 2 / span 1;
}
*/
#player-commands-area {
    grid-column: 6 / span 4;
    grid-row: 1 / span 1;
}

#player-area {
    grid-column: 6 / span 4;
    grid-row: 2 / span 1;
}

#json-commands-area {
    grid-column: 10 / span 1;
    grid-row: 1 / span 1;
}

#created-json-area {
    grid-column: 10 / span 1;
    grid-row: 2 / span 1;
}

textarea {
    resize: none;
    overflow-y: scroll;
  }

#application-name {
    font-family: Arial, Helvetica, sans-serif; 
}

#player-messages {
    color: red;
}

button[disabled] {
    background-color: lightgray;
    color: white;
}
/*
input[type="button"], :disabled {
    background-color: lightgray;
    color: white;
    cursor: not-allowed;
}
*/
/*
*:disabled {
    background-color: lightgray;
    color: white;
}
*/
:disabled {
    background-color: lightgray;
    color: black;
}

a:link {
    color:#fff; 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
}

a:visited {
    color:#fff;
}

a:active {
    color :bisque
}

.hidden {
    display: none;
}

/* Style the tabs area */
.tabs {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons inside the tabs area */
.tabs button {
    /*background-color: inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
